<ul>
  <li *ngFor="let ev of events">
    <img [src]="ev.pic" alt="" width="50px" height="50px">
    {{ ev.name | uppercase | azenpipeom:3 }}
    <button (click)="edit(ev.id)">Edit</button>
    <button (click)="delete(ev.id)">Remove</button>
  </li>
</ul>

<div>
  <label for="eventname">Uj esemeny neve:</label>
  <input type="text" #newEventNameInput id="eventname" [value]="modifyEvent.name">
</div>
<div>
  <label for="eventpic">Uj esemenyhez tartozo kep URL:</label>
  <input type="text" #newEventPicInput id="eventpic" [value]="modifyEvent.pic">
</div>
<button (click)="save(newEventNameInput, newEventPicInput)">Save</button>

<pre>
  {{ events | json }}
</pre>
