<p>hello netacademia</p>

<app-event></app-event>

<ul>
  <li *ngFor="let event of events">{{ event }}</li>
</ul>

<input type="text" [(ngModel)]="inputContent">
<div>
  {{inputContent}}
</div>

<button
  (click)="toggle()"
  (dblclick)="demo($event)"
  [disabled]="klikkeljunke"
>Toggle</button>

<div *ngIf="show">
  <p>Nagy Gergo</p>
</div>

<div [ngClass]="{ 'valami': show }">
  <p>ngClass demo</p>
</div>

<app-alma></app-alma>
<app-alma></app-alma>
<app-alma></app-alma>
<app-alma></app-alma>
<app-alma></app-alma>
<app-alma></app-alma>
<app-alma></app-alma>
